:root {
  --Dark-blue: hsl(243, 87%, 12%);
  --Desaturated-blue: hsl(238, 22%, 44%);
  --Bright-blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Blue: hsl(240, 75%, 98%);
  --white: #ffffff;

  --ff-Heading: Raleway;
  --fw-400: 400;
  --fw-700: 700;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: Open Sans;
  font-size: 1em;
  font-weight: 400;
}

.container {
  max-width: 90%;
  margin: 30px auto;
}

.main_container {
  margin-bottom: 0px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 25%;
}

nav a {
  text-decoration: none;
  margin-right: 0.2em;
  font-size: 0.75em;
  color: var(--Dark-blue);
}

.intro_section_container,
.section_2_infor_container {
  flex-direction: column;
  margin: 4em auto;
  text-align: center;
}

/* .Fylo_info-image{
  margin-top: 40px;

} */

/* background need fixing */

/* .section_2::before{

  content:"";
  display: block;
  height: 600px;
  inset: 0;
  z-index: -1;
  background: var(--Grayish-Blue);
  border: 1px solid red;
  
 
} */

.intro_content h1 {
  font-weight: 700;
  font-size: 1.5em;
  margin: 0.9em 0em;
}

.intro_content h1 + p {
  margin: 0.9em 0em;
}

.info_content-2 p:nth-child(1) {
  font-family: Raleway;
  font-size: 1em;
  font-weight: bold;
  margin: 0em;
}

.info_content-2 p:first-child + p {
  margin: 0em;
}

.intro_content input,
.bottom_content-form input {
  min-width: 80%;
  margin: 0.5em auto;
  padding: 12px 20px;
  border: 1px solid var(--Desaturated-blue);
  border-radius: 2px;
}

.bottom_content-form {
  text-align: center;
}

.btn_get-started {
  background-color: var(--Bright-blue);
  font-weight: bold;
  color: var(--white);
}

.btn_get-started:hover {
  background-color: #6c9bff;
}
.Flyo_external_link a {
  text-decoration: none;
  color: #3da08f;
}
.Flyo_external_link {
  margin: 1.5em auto;
  border-bottom: 1px solid #3da08f;
  width: 50%;
}

.Kyle_quote_container {
  box-shadow: 1px 1px 5px;
  margin: 40px 20px;
  text-align: left;
  padding: 10px 29px;
}
.Kyle_quote_container p {
  font-size: 0.625em;
}
.Kyle_picture {
  width: 10%;
  border-radius: 50%;
}

.Kyle_Profile {
  display: flex;
  margin: 0.9em 0em;
  max-height: 40px;
}
.Kyle_info {
  margin-left: 5px;
}
.Kyle_info p:nth-child(1),
.bottom_content p:nth-child(1) {
  font-weight: bold;
}

.Kyle_info p {
  font-size: 0.563em;
  font-weight: 100;
  margin: 0em;
}

.bottom {
  background-color: var(--Desaturated-blue);
  border: 1px solid var(--Desaturated-blue);
}
.bottom_content {
  color: var(--white);
  text-align: center;
  margin-top: 2em;
}

.bottom_content p:nth-child(1) {
  margin: 1em auto;
}

footer {
  background-color: var(--Dark-blue);
}

.footer_container {
  margin-top: 0px;
}

.logo-bottom {
  margin: 2em 0em;
  width: 32%;
}
.footer_links {
  color: var(--white);
}

.fa-solid,
.fa-regular {
  color: white;
  margin: 20px 20px 5px 0px;
}
.footer_link-2 a,
.footer_link-3 a {
  display: block;
  margin-top: 10px;
  color: var(--white);
  text-decoration: none;
}
.footer_link-3 {
  margin-top: 40px;
}

.footer_link-4 {
  text-align: center;
  margin: 1.5em auto;
}

.social-links a {
  margin-right: 2em;
  padding: 5px 10px;
  border-radius: 50%;
  border: 1px solid var(--white);
}
.fa-brands {
  color: var(--white);
}

.dev_info {
  text-align: center;
  color: var(--white);
}

.dev_info a {
  color: var(--white);
}

@media screen and (min-width: 48rem) {
  nav a {
    margin-right: 1.2em;
    font-size: 1em;
  }

  .intro_section_container,
  .section_2_infor_container {
    flex-direction: row-reverse;
    margin: 4.4em 0em;
    text-align: left;
  }

  .intro_content h1 {
    font-size: 1.5em;
  }

  .section_2_infor_container {
    margin-top: 12em;
  }

  .intro_image,
  .intro_content,
  .Fylo_info-image,
  .info_content-2 {
    width: 48%;
  }

  .intro_content {
    margin: auto 0em;
  }

  .info_content-2 p:first-child {
    font-family: var(--ff-Heading);
    font-weight: var(--fw-700);
    font-size: 1.5em;
    margin: 1.2em 0em;
  }

  .info_content-2 p {
    margin: 1rem 0rem;
  }

  .Flyo_external_link {
    margin-left: 0px;
    display: inline;
  }

  .Kyle_quote_container {
    margin-left: 0px;
  }

  .section_2 .Kyle_quote_container p:nth-child(1) {
    margin: 0px;
    font-size: 0.9em;
  }

  .bottom_content-container {
    display: flex;
    justify-content: space-between;
  }

  .bottom_content,
  .bottom_content-form {
    width: 45%;
    margin-top: 0px;
    text-align: left;
  }

  .footer_links {
    display: flex;
    justify-content: space-between;
  }

  .link {
    margin: 0px;
  }

  .dev_info {
    margin-top: 50px;
  }
}
